<!--资源列表 -->
<div class="block_panel blue_edge">
	<div class="panel_title nav">
		<a href="@Url.Action("Index", "Home")">首页</a> > <span>@ViewBag.Title</span>
	</div>
	<div class="body">
		<div class="ranking">
			@foreach (ResResourceRanking item in ViewBag.ListOfMore)
			{
				<div class="ranking_square">
					<a href="@Url.Action("View", "Resource", new { id=item.ResourceId })" title="@item.Title"><img class="cover" src="@item.FitCoverPath" /></a>
					<div class="details">
						<a href="@Url.Action("View", "Resource", new { id=item.ResourceId })" title="@item.Title"><span class="restitle">@item.Title</span></a><br />
						<p class="snippet">@item.Description</p>
						<div class="info">
							作者：<span>@item.Author</span>
							单位：<span>@item.AuthorCompany</span>
							上传日期：<span>@item.CreatedTime.ToShortDateString()</span>
							格式：<span>@item.FileExtName</span>
						</div>
					</div>

				</div>
			}
		</div>
		<div>
			@Html.Pager((int)ViewBag.PageSize, (int)ViewBag.PageNumber, (int)ViewBag.TotalItemCount).Options(o => o
							.DisplayTemplate("_Bootstrap3Pagination")
						  .MaxNrOfPages(10)
						  .AlwaysAddFirstPageNumber()
						  .AddRouteValue("type", ViewBag.ParamType)
		  )
		</div>
	</div>
</div>
