<!--资源排行 -->
<div class="block_panel">
	<div class="panel_title">
		<span><img src="~/assets/img/ico_ranking.png" />资源排行</span>
		<a href="@Url.Action("More", "Resource", new { type="viewcount" })" class="tab actived" data-index="1">点击量</a>
		<a href="@Url.Action("More", "Resource", new { type="commentcount" })" class="tab" data-index="2">评论次数</a>
		<a href="@Url.Action("More", "Resource", new { type="downcount" })" class="tab" data-index="3">下载次数</a>
		<a class="more ranking_more" href="@Url.Action("More", "Resource", new { type="viewcount" })">浏览更多 >></a>
	</div>
	<div class="body"> 
		<div class="ranking">
			@foreach (ResResourceRanking item in ViewBag.RankingOfViewCount)
			{
				<div class="ranking_square">
					<a href="@Url.Action("View", "Resource", new { id=item.ResourceId })" title="@item.Title"><img class="cover" src="@item.FitCoverPath" /></a>
					<div class="details">
						<a href="@Url.Action("View", "Resource", new { id=item.ResourceId })" title="@item.Title"><span class="restitle">@item.Title</span></a><br />
						<span class="fr-star">
							@for (int i = 0; i < 5; i++)
							{
								if (item.Star > i)
								{
									<img src="~/assets/img/ystar.png" />
								}
								else
								{
									<img src="~/assets/img/nstar.png" />
								}
							}
						</span>
						<div class="info">
							作者：<span>@item.Author</span>
							单位：<span>@item.AuthorCompany</span><br />
							上传日期：<span>@item.CreatedTime.ToShortDateString()</span>
							点击量：<span>@item.ViewCount</span>
							格式：<span>@item.FileExtName</span>
						</div>
						<p class="snippet">@item.Description</p>
					</div>

				</div>
			}
		</div>
		<div class="ranking hidden">
			@foreach (ResResourceRanking item in ViewBag.RankingOfCommentCount)
			{
				<div class="ranking_square">
					<a href="@Url.Action("View", "Resource", new { id=item.ResourceId })" title="@item.Title"><img class="cover" src="@item.FitCoverPath" /></a>
					<div class="details">
						<a href="@Url.Action("View", "Resource", new { id=item.ResourceId })" title="@item.Title"><span class="restitle">@item.Title</span></a><br />
						<span class="fr-star">
							@for (int i = 0; i < 5; i++)
							{
								if (item.Star > i)
								{
									<img src="~/assets/img/ystar.png" />
								}
								else
								{
									<img src="~/assets/img/nstar.png" />
								}
							}
						</span>
						<div class="info">
							作者：<span>@item.Author</span>
							单位：<span>@item.AuthorCompany</span><br />
							上传日期：<span>@item.CreatedTime.ToShortDateString()</span>
							评论次数：<span>@item.CommentCount</span>
							格式：<span>@item.FileExtName</span>
						</div>
						<p class="snippet">@item.Description</p>
					</div>

				</div>
			}
		</div>
		<div class="ranking hidden">
			@foreach (ResResourceRanking item in ViewBag.RankingOfDownCount)
			{
				<div class="ranking_square">
					<a href="@Url.Action("View", "Resource", new { id=item.ResourceId })" title="@item.Title"><img class="cover" src="@item.FitCoverPath" /></a>
					<div class="details">
						<a href="@Url.Action("View", "Resource", new { id=item.ResourceId })" title="@item.Title"><span class="restitle">@item.Title</span></a><br />
						<span class="fr-star">
							@for (int i = 0; i < 5; i++)
							{
								if (item.Star > i)
								{
									<img src="~/assets/img/ystar.png" />
								}
								else
								{
									<img src="~/assets/img/nstar.png" />
								}
							}
						</span>
						<div class="info">
							作者：<span>@item.Author</span>
							单位：<span>@item.AuthorCompany</span><br />
							上传日期：<span>@item.CreatedTime.ToShortDateString()</span>
							下载次数：<span>@item.DownCount</span>
							格式：<span>@item.FileExtName</span>
						</div>
						<p class="snippet">@item.Description</p>
					</div>

				</div>
			}
		</div>
	</div>
</div>
