@{
	ViewBag.Title = "搜索";
	string sort = Request["Sort"];
}
@Html.Partial("../Resource/_search")

<!--搜索列表 -->
<div class="block_panel">
	<div class="panel_title nav">
		
		<a href="@Url.Action("Index", "Home")">首页</a> > <span>@ViewBag.Title</span>
		<span class="pull-right sort">
			@if(sort == "vd") { <a href="javascript:;" data-sort="va">点击量<i class="fa fa-arrow-down"></i></a> <e>|</e> }
			else if (sort == "va") { <a href="javascript:;" data-sort="vd">点击量<i class="fa fa-arrow-up"></i></a> <e>|</e> }
			else { <a href="javascript:;" data-sort="va">点击量</a> <e>|</e> }
		
			@if(sort == "dd") { <a href="javascript:;" data-sort="da">下载次数<i class="fa fa-arrow-down"></i></a> <e>|</e> }
			else if (sort == "da") { <a href="javascript:;" data-sort="dd">下载次数<i class="fa fa-arrow-up"></i></a> <e>|</e> }
			else { <a href="javascript:;" data-sort="da">下载次数</a> <e>|</e> }
			
			@if(sort == "cd") { <a href="javascript:;" data-sort="ca">评论次数<i class="fa fa-arrow-down"></i></a> <e>|</e> }
			else if (sort == "ca") { <a href="javascript:;" data-sort="cd">评论次数<i class="fa fa-arrow-up"></i></a> <e>|</e> }
			else { <a href="javascript:;" data-sort="ca">评论次数</a> <e>|</e> }
				
			@if(sort == "sd") { <a href="javascript:;" data-sort="sa">评分<i class="fa fa-arrow-down"></i></a> }
			else if (sort == "sa") { <a href="javascript:;" data-sort="sd">评分<i class="fa fa-arrow-up"></i></a> }
			else { <a href="javascript:;" data-sort="sa">评分</a> }
		</span>
	</div>
	<div class="body">
		<div class="ranking">
			@foreach (ResResourceRanking item in ViewBag.ListOfMore)
			{
				<div class="ranking_square">
					<a href="@Url.Action("View", "Resource", new { id=item.ResourceId })" title="@item.Title"><img class="cover" src="@item.FitCoverPath" /></a>
					<div class="details wide">
						<a href="@Url.Action("View", "Resource", new { id=item.ResourceId })" title="@item.Title"><span class="restitle">@item.Title</span></a><br />
						<p class="snippet">@item.Description</p>
						<div class="info">
							作者：<span>@item.Author</span>
							单位：<span>@item.AuthorCompany</span>
							上传日期：<span>@item.CreatedTime.ToShortDateString()</span>
							格式：<span>@item.FileExtName</span>
						</div>
					</div>

				</div>
			}
		</div>
		<div>
			@Html.Pager((int)ViewBag.PageSize, (int)ViewBag.PageNumber, (int)ViewBag.TotalItemCount).Options(o => o
							.DisplayTemplate("_Bootstrap3Pagination")
						  .MaxNrOfPages(10)
						  .AlwaysAddFirstPageNumber()
						  .AddRouteValue("Domain", ViewData["Domain"])
						  .AddRouteValue("Deformity", ViewData["Deformity"])
						  .AddRouteValue("ResourceType", ViewData["ResourceType"])
						  .AddRouteValue("Subject", ViewData["Subject"])
						  .AddRouteValue("Stage", ViewData["Stage"])
						  .AddRouteValue("Grade", ViewData["Grade"])
						  .AddRouteValue("SchoolType", ViewData["SchoolType"])
						  .AddRouteValue("LearnFrom", ViewData["LearnFrom"])
						  .AddRouteValue("MediumType", ViewData["MediumType"])
						  .AddRouteValue("Keywords", ViewData["Keywords"])
						  .AddRouteValue("Sort", ViewData["Sort"])
		  )
		</div>
	</div>
</div>
@section Scripts{
<script type="text/javascript">

	$(function () {

		$("#domainChoose a").on("click", function () {
			$("#Domain").val($(this).data("id"));
			$("#searchbutton").trigger("click");
		})
		$("#deformityChoose a").on("click", function () {
			$("#Deformity").val($(this).data("id"));
			$("#searchbutton").trigger("click");
		})

		$(".sort a").on("click", function () {
			var key = $(this).data("sort");
			$("#Sort").val(key);
			$("#searchbutton").trigger("click");
		})
	})

</script>


<script type="text/javascript">

	var resTypes = @Html.Raw(Json.Encode(Res.Controllers.CroMyController.GetStrengthDict(CroResourceHelper.ResourceType.GetItems())));

	var grades = @Html.Raw(Json.Encode(Res.Controllers.CroMyController.GetStrengthDict(CroResourceHelper.Grade.GetItems())));



	$(function () {
		RelationSelect($("#StagePKID"), $("#GradePKID"), grades, "适用全体年级");
	});

	function RelationSelect(src, tat, rule, none) {
		var $src = $(src), $tat = $(tat);
		function doit(init){
			var key = $src.val();
			$tat.empty();
			if (none) {
				$tat.append($("<option>").val('').text(none));
			}
			$.each(rule, function(i, n){
				if (n.key == key || key == '') {
					$tat.append($("<option>").val(n.id).text(n.name));
				}
			});
			if (init) $tat.val(init);
		}

		$src.on("change", function() {
			doit();
		});
		doit($tat.val());
	}

</script>

}

