@{
	ViewBag.Title = "我的上传";
}
<ul class="nav nav-tabs my_nav">
	<li><a href="@Url.Action("Index")">个人信息</a></li>
	<li class="active"><a>我的上传</a></li>
	<li><a href="@Url.Action("Favorite")">我的收藏</a></li>
	<li><a href="@Url.Action("Comment")">我的评论</a></li>
</ul>
<div class="full_white">

<!--资源列表 -->
<div class="block_panel blue_edge">
	<div class="panel_title nav">
		<a href="@Url.Action("Index", "My")">我的空间</a> > <span>@ViewBag.Title</span>
	</div>
	<div class="body">
		<div class="my_info">
			<div class="t_title">
				@if (HttpContext.Current.Request.IsAuthenticated && ResSettings.SettingsInSession.CanbeUploadResource)
				{ 
				<a href="@Url.Action("Upload")">上传资源</a>
				}
			</div>
		</div>
		<div class="ranking">
			@foreach (ResMyResource item in ViewBag.ListOfResource)
			{
				<div class="ranking_square" >
					<a href="@Url.Action("View", "Resource", new { id=item.ResourceId })" title="@item.Title">
						<img id="photo" class="cover" src="@item.FitCoverPath" /></a>
					<div class="details wide">
						<a href="@Url.Action("View", "Resource", new { id=item.ResourceId })" title="@item.Title"><span class="restitle">@item.Title</span></a><br />
						<p class="snippet">@item.Description</p>
						<div class="info">
							作者：<span>@item.Author</span>
							上传日期：<span>@item.OccurTime.ToShortDateString()</span>
							格式：<span>@item.FileExtName</span>
							审核状态：<span>@ResResourceHelper.State.GetName(item.StatePKID)</span>
						</div>
					</div>
					<a href="javascript:;" data-id="@item.ResourceId" class="btn btn-default update-cover">修改封面</a>
					<form action="@Url.Action("UpdateCover", "Attachment", new { id=@item.ResourceId })" class="dropzone cover"></form>
				</div>
			}
		</div>
		<div>
			@Html.Pager((int)ViewBag.PageSize, (int)ViewBag.PageNumber, (int)ViewBag.TotalItemCount).Options(o => o
							.DisplayTemplate("_Bootstrap3Pagination")
						  .MaxNrOfPages(10)
						  .AlwaysAddFirstPageNumber()
		  )
		</div>

		<div class="modal fade" id="inner-edit-form" tabindex="-1" role="dialog"></div>

	</div>
</div>

</div>
@section Css {

}
@section Plugins {
	@Scripts.Render("~/js/dropzone")
}
@section Scripts {
	<script type="text/javascript">

		$(function () {
		
			Dropzone.autoDiscover = false;
		
			// init dropzone upload plugin.
			$(".dropzone.cover").dropzone({
				addRemoveLinks: !0,
				maxFiles: 100,
				acceptedFiles: "image/*",
				dictResponseError: "File Upload Error.",
				init: function () {
					this.on("success", function (file, data) {
						window.location.reload(true);
						//$("#photo").attr("src", data.showPath);
					});
					this.on("error", function (file, message) {
						alert(message)
					});
				}
			});

			// proxy click event to dropzone.
			$(".update-cover").on("click", function () {
				$(this).next().trigger('click');
			});

		});

	</script>

}