@{
	ViewBag.Title = "首页";
}
@Html.Partial("../Resource/_search")

<div>
	<!--左边 -->
	<div class="block_channel channel_normal_left">

		@Html.Partial("../Resource/_recommand")

		@Html.Partial("../Resource/_ranking")

	</div>

	<!--右边 -->
	<div class="block_channel channel_normal_right">

		@if (!Request.IsAuthenticated)
		{
		<!--登录 -->
			<div class="block_panel">
				<div class="panel_title">
					<span><img src="~/assets/img/ico_login.png" />用户登录</span>
				</div>
				<div class="body login">
					@using (Html.BeginForm("Login", "Account", FormMethod.Post))
					{
						@Html.AntiForgeryToken()

						<input type="text" name="username" class="username" placeholder="用户名" />
						<input type="password" name="password" class="password" placeholder="密码" />
						<div>
							<input name="rememberme" type="checkbox" value="true" />
							<span>记住我</span>
							<input name="rememberme" type="hidden" value="false" />
						</div>
						<input type="submit" class="submit" value="登录" />
						<span class="pull-right">
							<a href="@Url.Action("Register", "Account")">注册</a> |
							<a href="@Url.Action("Forget", "Account")">忘记密码</a>
						</span>
					}
				</div>
			</div>
		}
		else
		{
			<div class="block_panel">
				<div class="panel_title">
					@ResSettings.SettingsInSession.RealName	您已登录成功，欢迎您！
				</div>
				<div class="tellme">
					<a class="" href="@Url.Action("Index", "My", new { id = ResSettings.SettingsInSession.UserId })">进入我的空间</a>
					<br /><br />
					<a class="" href="@Url.Action("LogOff", "Account")">退出我的登录</a>
				</div>
			</div>
		}


		<!--众筹 -->
		<div class="block_panel compact">
			<a href="@Url.Action("Index", "CroHome")" target="_blank"><img src="~/assets/img/i_zy.jpg" /></a>
		</div>

		

		<!--公告 -->
		<div class="block_panel">
			<div class="panel_title">
				<span><img src="~/assets/img/ico_bulletin.png" />公告通知</span>
				<a class="more" href="@Url.Action("More", "Bulletin")">浏览更多 >></a>
			</div>
			<div class="body">

				<ul class="compact_list">

					@{
						int i = 1;

						foreach (ResBulletin item in ViewBag.RankingOfBulletin)
						{
							<li>
								<span>@i</span> <a href="@Url.Action("View", "Bulletin", new { id=item.BulletinId })">	@item.Title</a>


							</li>
							i++;
						}
					}

				</ul>

			</div>
		</div>

		<!--活跃用户 -->
		<div class="block_panel">
			<div class="panel_title">
				<span><img src="~/assets/img/ico_user.png" />活跃用户</span>
				<a class="more" href="@Url.Action("More", "ReUser")">浏览更多 >></a>
			</div>
			<div class="body">
				@foreach (ResActiveUser item in ViewBag.RankingOfActiveUser?? new List<ResActiveUser>())
				{
					<a class="user_square" href="@Url.Action("Index", "My", new { id=item.UserId })" target="_blank">
						<img src="@item.FitPhotoPath" />
						<div>
							<p>@item.RealName</p>
						</div>
					</a>
				}
			</div>
		</div>

		<!--客服热线 -->
		<div class="block_panel">
			<div class="panel_title">
				<span><img src="~/assets/img/ico_service.png" />客服热线</span>
			</div>
			<div class="body service">
				<p class="phone">021-25653284-2007</p>
				<p>上海市特殊教育资源库技术支持</p>
				<p>客服时间：9:00~17:30</p>
			</div>
		</div>

	</div>
</div>

<div class="row" style="clear:both">
	<div class="col-sm-8 col-sm-offset-2" style="margin-top:40px">
		<select class="form-control" id="friend">
			<option>友情链接</option>
			<option href="http://shsedu.sherc.net/">上海特教之窗</option>
			<option href="http://shsedu.sherc.net/daohang2014/">上海市特殊教育信息通报系统</option>
			<option href="http://www.spe.edu.sh.cn/">上海特教在线</option>
			<option href="http://shserc.sherc.net">上海市特殊教育资源中心</option>
			<option href="http://www.sherc.net">上海教育资源库</option>
			<option href="http://www.shmec.gov.cn/">上海教育</option>
		</select>
	</div>
</div>

@section Scripts{
	<script type="text/javascript">

		function rollRecommand() {
			$(".roll").each(function () {
				$(this).toggleClass("hidden");
			});
		}

		$(function () {

			$("#friend").on("change", function(){
				var url = $("#friend option:selected").attr("href");
				if (url) { window.open(url); }
			});

			$(".tab").on("click", function () {
				var $this = $(this), index = $this.data("index");
				$this
					.addClass("actived")
					.siblings().removeClass("actived");
				$(".ranking").addClass("hidden")
					.eq(index - 1).removeClass("hidden");
				$(".ranking_more").attr("href", $this.attr("href"));
				return false;
			});

			$("#domainChoose a").on("click", function () {
				$("#Domain").val($(this).data("id"));
				$("#searchbutton").trigger("click");
			})
			$("#deformityChoose a").on("click", function () {
				$("#Deformity").val($(this).data("id"));
				$("#searchbutton").trigger("click");
			})



			setInterval("rollRecommand()", 5000);
		})

	</script>




<script type="text/javascript">

	var resTypes = @Html.Raw(Json.Encode(Res.Controllers.CroMyController.GetStrengthDict(CroResourceHelper.ResourceType.GetItems())));

	var grades = @Html.Raw(Json.Encode(Res.Controllers.CroMyController.GetStrengthDict(CroResourceHelper.Grade.GetItems())));



	$(function () {
		RelationSelect($("#StagePKID"), $("#GradePKID"), grades, "适用全体年级");
	});

	function RelationSelect(src, tat, rule, none) {
		var $src = $(src), $tat = $(tat);
		function doit(init){
			var key = $src.val();
			$tat.empty();
			if (none) {
				$tat.append($("<option>").val('').text(none));
			}
			$.each(rule, function(i, n){
				if (n.key == key || key == '') {
					$tat.append($("<option>").val(n.id).text(n.name));
				}
			});
			if (init) $tat.val(init);
		}

		$src.on("change", function() {
			doit();
		});
		doit($tat.val());
	}

</script>
}