@model List<ZSResource>
<div class="col-md-12 z_cont fr mt_20">
	<div class="title">
		<b>资源库热门资源</b>
		@*<a class="glyphicon glyphicon-option-horizontal fr more" id="more_hot" href="@Url.Action("Search", "ZSResource",  new { Level = "品德与社会" })"></a>*@
	</div>
	<div class="d_user_list">
		<ul class="hot_list">
			
			@foreach (var item in Model)
			{
				<li>
					<div>	<img src="@item.CoverPath"></div>
					<p><a href="@Url.Action("Detail", "ZSResource", new { id = item.ResourceId })"> @item.Title </a></p>
					<p><span>访问量：</span>@item.ViewCount</p>
				</li>
			}
		</ul>
	</div>
</div>

